<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Page Title</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
   </head>
   <body>
      <div class="header">
         <h1>Item Catalog</h1>
      </div>
      <header class="navbar">
         <h1><a href="/category">Home</a></h1>
         {% if not session.email %}
         <h6><a class="right" href="/login"> Login </a> </h6>
         {% else %}
         <h6><a class="right" href="/gdisconnect">Logout</a></h6>
         {% endif %}
      </header>
      <div class="row">
      <div class="side">
         <h2> </h2>
      </div>
      <div class = "main">
         <h2>{{ category.name }}</h2>
         {% if items !=[] %}
         <a href = "{{url_for('newItem', category_id = category.id )}}"><i>Create New Item</i></a>
         </br></br>
         <h3>Items</h3>
         {% for i in items %}
         <p>{{i.name}}</p>
         <p>{{i.description}}</p>
         <a href='{{url_for('editItem', category_id = category.id, item_id=i.id ) }}' ><i>Edit</i></a>
         <a href='{{url_for('deleteItem', category_id = category.id, item_id=i.id ) }}' ><i>Delete</i></a>
         </br>
         </br>
         {% endfor %}
         </br></br>
         {% else %}
         <p> You currently have no  items.</p>
         <a href = "{{url_for('newItem', category_id = category.id )}}">Create New Item</a>
         {% endif %}
      </div>
   </body>
</html>
