<!DOCTYPE html>
<html>
<head>
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
   </script>

   <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>
   <script>
      function start() {
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: '477922965820-889f7drsuk88bjmcophn843e8uhftuv2.apps.googleusercontent.com'
          });
        });
      }

</script>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>


<body>
<!-- GOOGLE SIGN IN BUTTON-->
  <button id="signinButton">Google Signin</button>
  <div id="result"></div>
<!--END GOOGLE PLUS SIGN IN BUTTON -->
<script>
  $('#signinButton').click(function() {
    function signInCallback(authResult){
      if (authResult['code']){
        $('#signinButton').attr('style', 'display: none');
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          contentType: 'application/octet-stream; charset=utf-8',
          success:function(result){
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                  window.location.href = "/";
                 }, 2000);
          },
          processData:false,
          data:authResult['code']
        });
      } else{
        // handle error
        console.log('There was an error: ' + authResult['error']);
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
      }
    }
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>

</body>
</html>

